#header {
    padding: 5px;
    border-bottom: solid 1px #e7e7e7;
}

#refresh {
    float: left;
}

#status {
    float: right;
    position: relative;
}

#player {
    padding-left: 5px;
}

#drop_zone {
    display: none;
}