.glyphicon-tooltip {
    padding: 0;
}

.glyphicon-tooltip span {
    width: 42px;
    height: 32px;
    padding-top: 8px
}

#input_host {
    width: 250px;
}

#main:fullscreen {
    width: 1172px;
    padding-left: 20px;
}

#main:-webkit-full-screen {
    width: 1172px;
    padding-left: 20px;
}

#main:-moz-full-screen {
    width: 1172px;
    padding-left: 20px;
}

#main:-ms-fullscreen {
    width: 1172px;
    padding-left: 20px;
}

#player {
    width: 90%;
    height: 600px;
    margin: auto;
}

#qrcode {
    width: 250px;
    height: 250px;
    margin: 10px auto;
}

.panel-dashed {
    /*border: dashed gray;*/
    /*border-radius: 10px;*/

    border: solid gray 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #aaaaaa;
}

#drop_zone {
    width: 100%;
    height: 100%;
    color: gray;
}

#drop_zone_header {
    font-size: 7.5em;
}

#play_zone {
    margin: 0;
    padding-top: 0;
    width: 100%;
    font-size: 1.5em;
}

.footer {
    margin-top: 5px;
}