#header {
    padding: 5px;
    border-bottom: solid 1px #e7e7e7;
}

#refresh {
    float: left;
}

#status {
    float: right;
    position: relative;
}

#player {
    padding-left: 5px;
}

#drop_zone {
    width: 100%;
    height: 100%;
    color: gray;
}

#drop_zone_header {
    font-size: 2em;
}