.onoffswitch {
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > span {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 50px;
    margin: 0px;
    text-align: center;
    border: 0px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.onoffswitch-active .onoffswitch-switch {
    background: #4CAE4C;
    left: 0;
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #D43F3A;
    right: 0;
}

.onoffswitch-active .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50px;
    border-style: solid;
    border-color: #4CAE4C transparent transparent #4CAE4C;
    border-width: 15px 10px;
}

.onoffswitch-inactive .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 50px;
    border-style: solid;
    border-color: transparent #D43F3A #D43F3A transparent;
    border-width: 15px 10px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}